{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["react", "jsx-a11y", "import"],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "jsx-a11y/img-has-alt": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "no-undef": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off"
  }
}
